**/.classpath
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/obj
**/src/OnTheirFootsteps.Api/bin
**/src/OnTheirFootsteps.Api/obj
**/src/OnTheirFootsteps.Application/bin
**/src/OnTheirFootsteps.Application/obj
**/src/OnTheirFootsteps.Domain/bin
**/src/OnTheirFootsteps.Domain/obj
**/src/OnTheirFootsteps.Infrastructure/bin
**/src/OnTheirFootsteps.Infrastructure/obj
**/.dockerignore
**/Dockerfile*
**/docker-compose*
**/.docker
**/*dockerfile*
**/README.md
**/.git
**/.gitignore
**/.azdevops
**/.idea
**/.vs
**/.vscode
**/appsettings.Development.json
**/appsettings.Local.json
